@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.auth__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.auth__container__left {
  background-color: #292929;
  width: 50%;
  height: 100%;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth__container__left__img {
  width: 200px;
}
.auth__container__left__form {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  padding: 2em;
  border-radius: 20px;
}
.auth__container__left__form__top {
  width: 150px;
  height: 150px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.auth__container__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__container__right__img {
  width: 70%;
}

.checkbox {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.checkbox__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.checkbox__content {
  display: flex;
  align-items: center;
}
.checkbox__content__indicator {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  border-radius: 5px;
}
.checkbox__content__label {
  font-size: 14px;
  font-weight: bold;
}
.checkbox__input:hover ~ .checkbox__content .checkbox__content__indicator {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
//container
.container {
  display: flex;
  padding: 2em;
  width: 100%;
  min-height: 100vh;
}
.container__sidebar {
  background: linear-gradient(#ed263d, #77131f);
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  height: 91vh;
  position: sticky;
  top: 0px;
  margin-right: 2em;
}
.container__sidebar__content {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 1em;
}
.container__sidebar__content::-webkit-scrollbar {
  width: 5px;
}
.container__sidebar__content::-webkit-scrollbar-track {
  background-color: transparent;
}
.container__sidebar__content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
}
.nav__link {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 0.5em;
}
.nav__link__entry {
  position: relative;
}
.nav__link__entry__content {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 10px;
  font-size: 14px;
}
.nav__link__entry__content svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.nav__link__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.nav__link__entry__input:hover ~ .nav__link__entry__content {
  transition: 300ms ease-in-out;
  background-color: rgba(26, 26, 26, 0.25);
}
.nav__link__entry__input:checked ~ .nav__link__entry__content {
  transition: 300ms ease-in-out;
  background: linear-gradient(45deg, #1a1a1a, #373737);
}
.nav__link__dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
.nav__link__dropdown__entry {
  position: relative;
  margin-bottom: 0.5em;
}
.nav__link__dropdown__entry__content {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
}
.nav__link__dropdown__entry__content svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.nav__link__dropdown__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.nav__link__dropdown__entry__input:hover
  ~ .nav__link__dropdown__entry__content {
  transition: 300ms ease-in-out;
  background-color: rgba(26, 26, 26, 0.25);
}
.nav__link__dropdown__entry__input:checked
  ~ .nav__link__dropdown__entry__content {
  transition: 300ms ease-in-out;
  background: linear-gradient(45deg, #1a1a1a, #373737);
}
.nav__link__sub__dropdown__entry {
  position: relative;
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.nav__link__sub__dropdown__entry__content {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
}
.nav__link__sub__dropdown__entry__content svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.nav__link__sub__dropdown__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.nav__link__sub__dropdown__entry__input:hover
  ~ .nav__link__sub__dropdown__entry__content {
  transition: 300ms ease-in-out;
  background-color: rgba(26, 26, 26, 0.25);
}
.nav__link__sub__dropdown__entry__input:checked
  ~ .nav__link__sub__dropdown__entry__content {
  transition: 300ms ease-in-out;
  background: linear-gradient(45deg, #1a1a1a, #373737);
}
.container__sidebar__footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.container__sidebar__footer__entry {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0.8em 1em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.container__sidebar__footer__entry svg {
  margin-right: 1em;
}
.container__sidebar__footer__entry:hover {
  background-color: rgba(26, 26, 26, 0.25);
}
